form{
	width:300px;
	border:1px solid #ccc;
	font-family: Arial, sans-serif;
	font-size:18px;
	margin: 0 auto;
	padding:10px;
	
}

input{
  display:block;
  margin-bottom:15px;
  margin-top:5px;
}
.inlines{
	display:inline;
}
select{
	margin-bottom:15px;
	margin-top:5px;
	display:block;
}
#form1{
	float:left;
}
#form2{
	float:right;
}