form{
	/*display: table-cell;*/
	width:300px;
	border:1px solid #ccc;
	font-family: Arial, sans-serif;
	font-size:20px;
	margin: 0 auto;
	padding:10px;
	
}

input{
  display:block;
  margin-bottom:15px;
  margin-top:5px;
}